@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-svg: url("/bg-gradient.svg");
  --gradient-svg-mobile: url("/bg-gradient-mobile.svg");
  --gradient-fallback: linear-gradient(
    106deg,
    #fee497 0%,
    #fff3bb 25%,
    #ffecd8 50%,
    #ffc9db 75%,
    #e95bb5 100%
  );
}

.bg-gradient-full {
  background-image: var(--gradient-svg-mobile), var(--gradient-fallback);
  background-size: cover;
  background-position: center bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background-image 0.5s ease-in-out;

  @screen lg {
    background-image: var(--gradient-svg), var(--gradient-fallback);
  }
}

.bg-gradient {
  background-image: var(--gradient-svg-mobile), var(--gradient-fallback);
  background-size: cover;
  background-position: center bottom;
  transition: background-image 0.5s ease-in-out;

  @screen lg {
    background-image: var(--gradient-svg), var(--gradient-fallback);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: theme("colors.dark.950");
}

::-webkit-scrollbar-track {
  background: theme("colors.white");
  border-radius: 0.5rem;
}

::selection {
  background: theme("colors.pink.700");
  color: theme("colors.white");
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.dark.950") theme("colors.white");
}

@layer base {
  @font-face {
    font-family: "Montagu Slab";
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url(/fonts/MontaguSlab-Variable.woff2) format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/Inter-Variable.woff2) format("woff2");
  }

  *:focus-visible {
    @apply outline-dark-950 outline-2 outline-offset-8 outline;
  }

  body {
    @apply text-dark-800;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight;
  }
}
