@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-svg: url("/bg-gradient.svg");
  --gradient-svg-mobile: url("/bg-gradient-mobile.svg");
  --gradient-fallback: linear-gradient(
    106deg,
    #fee497 0%,
    #fff3bb 25%,
    #ffecd8 50%,
    #ffc9db 75%,
    #e95bb5 100%
  );
}

.bg-gradient-full {
  background-image: var(--gradient-svg-mobile), var(--gradient-fallback);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background-image 0.5s ease-in-out;

  @screen lg {
    background-image: var(--gradient-svg), var(--gradient-fallback);
  }
}

@layer base {
  body {
    @apply text-dark-800;
  }
}
